.mealPage {
    padding: 20px;
}

.mealPageTitle {
    text-align: center;
    color: #333;
    font-size: 24px;
}

.meal {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.mealTitle {
    font-size: 34px;
    color: #333;
    text-align: center;
}

.mealImage {
    margin: 20px 0;
}

.mealCategory,
.mealArea,
.mealInstructions,
.mealIngredients-title,
.mealMeasuresTitle {
    margin: 10px 0;
    color: #333;
}

.mealIngredients,
.mealMeasures {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.mealIngredient,
.mealMeasure {
    margin: 5px;
}

.content{
    width: 100%;
}

.card{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}